<div style='background-color:white;color:black;'>

  <h1>Crea Raza</h1>

  <form action="/Raza/crearRazaForm" method="post">
    <div class="form-group">
      <label>Nombre</label>
      <input minlength=5 required type="text" class="form-control"  placeholder="raza mascota" name="nombre">
    </div>

    <button type="submit" class="btn btn-success">Crear Raza</button>
    <br>

  </form>
</div>
