<div class="row">
  <div class="col-sm-5">
    <h2>Editar Raza</h2>
    <form action="/Raza/editarRazaForm" method="post" class="form-horizontal ">
      <div class="form-group">
        <label class="control-label col-sm-3">Nombre</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Ingrese sus Nombres" name="nombre" value="<%= razaAEditar.nombre %>">
        </div>
      </div>

      <input type="hidden" name="idRaza" value="<%= razaAEditar.id %>">
      <button type="submit" class="btn btn-success btn-block">Editar Raza</button>
    </form>

  </div>
  <div class="col-sm-1"></div>

  <div class="col-sm-5 form-horizontal">
    <h2>Datos Raza</h2>

    <div class="col-sm-5 control-label">
      <strong>Nombre</strong>
    </div>
    <div class="col-sm-7">
      <p class="form-control-static">
        <%= razaAEditar.nombre%>
      </p>
    </div>
  </div>

</div>
</div>
