<h1>Bienvenidos</h1>

<div class="jumbotron">
  <h1>Mascotas!</h1>
  <p>Registra tus mascotas</p>
  <p>
    <a class="btn btn-primary btn-lg" href="/crearusuario" role="button">Registrarse aqui!</a>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Iniciar sessión</a>
  </p>
</div>
