<div style='background-color:white;color:black;'>

  <h1>Autenticacion</h1>

  <form action="/Auth/loginForm" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Correo</label>
      <input minlength=5 required type="email" class="form-control"  placeholder="Nombres" name="correo">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Contraseña</label>
      <input minlength=5 required type="password" class="form-control"  placeholder="Contraseña" name="password">
    </div>

    <button type="submit" class="btn btn-success">Crear Usuario</button>
    <br>

  </form>
</div>
