<style>
    .azul {
        background-color: blue;
    }
</style>


<h1>Contenido</h1>
<p class="azul">Contenido creado

<ul>
    <li><a href="/Quito"><img src="" alt="Quito" id="src"></a></li>
    <li><a href="/Guayaquil"><img src="" alt="Guayaquil" id="src"></a></li>
    <li><a href="/Cuenca"><img src="" alt="Cuenca" id="src"></a></li>
</ul>

</p>


